// Base
body {
  font-family: $font-family;
  color: $color-text;
  font-size: $font-size-regular;
  line-height: $line-height;
}

// Grid

@mixin grid {
  @extend .columns;
  @extend .large-8;
  @extend .large-offset-2;
  @extend .medium-10;
  @extend .medium-offset-1;
}

.header,
.site-index,
.site-article,
.site-subscribe,
.subscribe-form,
.footer {
  @extend .container;
}

.header-wrapper,
.article-wrapper,
.subscribe-wrapper,
.subscribe-form-wrapper,
.footer-wrapper {
  @extend .row;
}

.header-content,
.article-content,
.subscribe-form-content,
.footer-content {
  @include grid;
}

.subscribe-content {
  @extend .columns;
  @extend .large-6;
  @extend .large-offset-2;
  @extend .medium-10;
  @extend .medium-offset-1;
  margin-bottom: $margin-unit * 2;
}

// Spacings

.header {
  margin-top: $margin-unit * 10;
  margin-bottom: $margin-unit * 10;
}
.site-index .article-wrapper, .site-article, .subscribe-wrapper {
  margin-bottom: $margin-unit * 10;
}
.footer {
  margin-bottom: $margin-unit * 10;
}

// Other

a {
  color: $color-1;
  text-decoration: none;
  border-bottom: 1px solid $color-1;
}

.site-title, .article-title a {
  color: $color-grey-1;
  border: none;
}

.content-heading {
  margin-bottom: $margin-unit * 3;

  .content-heading-title {
    margin-bottom: $margin-unit;
  }
  .content-heading-subtitle {
    color: $color-grey-3;
  }
}

.breadcrumb {
  .breadcrumb-item {

    &:last-child {
      color: $color-grey-3;
    }
    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      vertical-align: top;
      padding: 0 8px;
      color: $color-grey-3;
    }
  }
}

.article-tags {
  margin-bottom: $margin-unit;

  &-tag {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    border-radius: $margin-unit;
    margin-bottom: $margin-unit;
    margin-right: $margin-unit;
    background: $color-1;
    color: white;
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: $font-weight-medium;
    border-bottom: none;
  }
}
.article-title {
  margin-bottom: $margin-unit;
}
.article-header {
  margin-bottom: $margin-unit * 4;
}

.article-timestamp {
  color: $color-grey-2;
}
.article-body {
  color: $color-grey-1;
}

// Footer
.footer-wrapper {
}
.footer-content .credits {
  color: $color-grey-3;
  font-weight: $font-weight-medium;
  font-size: $font-size-small;
  background: image-url("logo.svg") left center no-repeat;
  padding-left: $margin-unit * 4;

  .footer-link {
    color: $color-grey-3;
    border-color: $color-grey-4;
  }
}

.input-group {
  &:not(:last-child) {
    margin-bottom: $margin-unit * 3;
  }

  label {
    font-size: $font-size-regular;
    font-weight: $font-weight-medium;
    margin-bottom: 4px;
    display: block;
    color: $color-grey-1;
  }
  em {
    margin-bottom: 4px;
    font-size: $font-size-small;
    display: inline-block;
  }
  input {
    border: none
  }
  input:not([type="submit"]), select {
    box-shadow: inset 0 0 0 2px $color-grey-5;
    padding: $margin-unit $margin-unit * 2;
    border-radius: 8px;
    font-size: $font-size-regular;
    border: none;
    background: white;
    -webkit-appearance: none;
    font-weight: $font-weight-regular;
    line-height: $margin-unit * 3;
    width: 100%;
    margin: none;
    outline: none;

    &:focus {
      box-shadow: inset 0 0 0 2px $color-1;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-3;
    }
    &::-moz-placeholder {
      color: $color-grey-3;
    }
    &:-ms-input-placeholder {
      color: $color-grey-3;
    }
    &:-moz-placeholder {
      color: $color-grey-3;
    }
  }
  input[type="submit"] {
    font-weight: $font-weight-demibold;
    padding: 6px 16px;
    font-size: $font-size-small;
    line-height: $line-height-small;
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
    background: $color-1;
    color: white;
  }
}

.flash {
  display: block;
  border-radius: $margin-unit;
  padding: 12px $margin-unit * 2;
  margin-bottom: $margin-unit * 3;

  &.flash-notice {
    background: rgba($color-1, .1);
    color: $color-1;
  }
  &.flash-alert {
    background: rgba($color-2, .1);
    color: $color-2;
  }
}

.article-tags ul, .flash ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.subscribe-form-content {

  .content-heading {
    background: $color-grey-6;
    border-radius: $margin-unit * 2;
    margin-bottom: $margin-unit * 10;
    padding: $margin-unit * 4;

    .subscribe-link {
      margin-top: $margin-unit * 2;
    }
  }
}

// TODO: Remove

.subscribe-button {
  position: fixed;
  top: $margin-unit * 3;
  right: $margin-unit * 3;

  a {
    display: inline-block;
    padding: $margin-unit / 2 $margin-unit;
    background: white;
    color: $color-grey-2;
    font-weight: $font-weight-demibold;
    font-size: $font-size-small;
    border: 2px solid $color-grey-5;
    border-radius: $margin-unit;
  }
}