// Base
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  color: $color-text;
  font-size: $font-size-regular;
  line-height: $line-height;
}

// Grid

@mixin grid {
  @extend .columns;
  @extend .large-8;
  @extend .large-offset-2;
  @extend .medium-10;
  @extend .medium-offset-1;
}

.post {
  @extend .container;
}

.post-wrapper {
  @extend .row;
}

.post-content {
  @include grid;
}

// Spacings

.post {
  margin-top: $margin-unit * 10;
  margin-bottom: $margin-unit * 10;
}

// Other

a {
  color: $color-1;
  text-decoration: none;
  border-bottom: 1px solid $color-1;
}

img {
  max-width: 100%;
}

.content-heading {
  margin-bottom: $margin-unit * 3;

  .content-heading-title {
    margin-bottom: $margin-unit;
  }
  .content-heading-subtitle {
    color: $color-grey-3;
  }
}

.post-body {
  color: $color-grey-1;
}