/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'shared/normalize';
@import 'shared/config';
@import 'shared/helpers';
@import 'shared/typography';
@import 'shared/markdown';

@import 'application/Editor';
@import 'application/Counter';
@import 'application/Flash';

* {
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size-regular;
  line-height: $line-height;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}